# Verification

BinaryIF verification algorithm specification.
